In [1]:
# Importing required libraries
import pandas as pd
import ast

In [2]:
# Loading csv files
games = pd.read_csv("games.csv",index_col=False)
vgsales = pd.read_csv("vgsales.csv",index_col=False)

In [3]:
games.head()

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K
1,1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21K,3.2K,6.3K,3.6K
2,2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30K,2.5K,5K,2.6K
3,3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...","A small child falls into the Underground, wher...",['soundtrack is tied for #1 with nier automata...,28K,679,4.9K,1.8K
4,4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21K,2.4K,8.3K,2.3K

In [4]:
vgsales.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [5]:
# Checking the shape
games.shape

(1512, 14)

In [6]:
vgsales.shape

(16598, 11)

# *Checking Data Types*

In [7]:
games.dtypes

Unnamed: 0             int64
Title                 object
Release Date          object
Team                  object
Rating               float64
Times Listed          object
Number of Reviews     object
Genres                object
Summary               object
Reviews               object
Plays                 object
Playing               object
Backlogs              object
Wishlist              object
dtype: object

In [8]:
vgsales.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

# *Checking for duplicates*

In [9]:
# Remove Unnamed column from games
games.drop(columns=['Unnamed: 0'],axis = 1,inplace=True)
vgsales.drop(columns=['Rank'],axis = 1,inplace=True)

In [37]:
games.duplicated().sum()

np.int64(0)

In [38]:
vgsales.duplicated().sum()

np.int64(0)

In [12]:
# Removing Duplicates from games based on Release Date
games = games.drop_duplicates()

In [13]:
def find_missing_values(df):
    missing_count = df.isnull().sum()

    total_rows = len(df)
    missing_percentage = (missing_count / total_rows) * 100

    missing_data = pd.DataFrame({
        'Missing_Count': missing_count,
        'Missing_Percentage': missing_percentage.round(2)
    })

    missing_data = missing_data[missing_data['Missing_Count'] > 0].sort_values(
        by='Missing_Count', ascending=False
    )

    return missing_data

In [14]:
find_missing_values(games)

         Missing_Count  Missing_Percentage
Rating              13                1.15
Team                 1                0.09
Summary              1                0.09

In [15]:
find_missing_values(vgsales)

           Missing_Count  Missing_Percentage
Year                 271                1.63
Publisher             58                0.35

# *Summary of Datasets*

In [16]:
games.describe()

            Rating
count  1117.000000
mean      3.661056
std       0.540572
min       0.700000
25%       3.400000
50%       3.700000
75%       4.100000
max       4.800000

In [17]:
vgsales.describe()

,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

# *Checking unique values of Columns*

In [18]:
def unique_col(df, max_show=10):
    for col in df.columns:
        uniques = df[col].unique()
        n_uniques = len(uniques)
        
        print(f"\nColumn: {col}")
        print(f"Unique count: {n_uniques}")
        if n_uniques > max_show:
            print(f"Sample unique values: {uniques[:max_show]} ...")
        else:
            print(f"Unique values: {uniques}")

In [19]:
unique_col(games)

Column: Title
Unique count: 1099
Sample unique values: ['Elden Ring' 'Hades' 'The Legend of Zelda: Breath of the Wild'
 'Undertale' 'Hollow Knight' 'Minecraft' 'Omori' 'Metroid Dread'
 'Among Us' 'NieR: Automata'] ...

Column: Release Date
Unique count: 987
Sample unique values: ['Feb 25, 2022' 'Dec 10, 2019' 'Mar 03, 2017' 'Sep 15, 2015'
 'Feb 24, 2017' 'Nov 18, 2011' 'Dec 25, 2020' 'Oct 07, 2021'
 'Jun 15, 2018' 'Feb 23, 2017'] ...

Column: Team
Unique count: 765
Sample unique values: ["['Bandai Namco Entertainment', 'FromSoftware']" "['Supergiant Games']"
 "['Nintendo', 'Nintendo EPD Production Group No. 3']"
 "['tobyfox', '8-4']" "['Team Cherry']" "['Mojang Studios']"
 "['OMOCAT', 'PLAYISM']" "['Nintendo', 'MercurySteam']" "['InnerSloth']"
 "['PlatinumGames', 'Square Enix']"] ...

Column: Rating
Unique count: 36
Sample unique values: [4.5 4.3 4.4 4.2 3.  3.7 4.1 3.8 3.3 4.6] ...

Column: Times Listed
Unique count: 606
Sample unique values: ['3.9K' '2.9K' '4.3K' '3.5K' '3K' '2.3K' '1.6K' '2.1K' '867' '2.7K'] ...

Column: Number of Reviews
Unique count: 606
Sample unique values: ['3.9K' '2.9K' '4.3K' '3.5K' '3K' '2.3K' '1.6K' '2.1K' '867' '2.7K'] ...

Column: Genres
Unique count: 255
Sample unique values: ["['Adventure', 'RPG']" "['Adventure', 'Brawler', 'Indie', 'RPG']"
 "['Adventure', 'Indie', 'RPG', 'Turn Based Strategy']"
 "['Adventure', 'Indie', 'Platform']" "['Adventure', 'Simulator']"
 "['Adventure', 'Platform']" "['Indie', 'Strategy']" "['Brawler', 'RPG']"
 "['Adventure', 'RPG', 'Turn Based Strategy']" "['Adventure', 'Indie']"] ...

Column: Summary
Unique count: 1113
Sample unique values: ['Elden Ring is a fantasy, action and open world game with RPG elements such as stats, weapons and spells. Rise, Tarnished, and be guided by grace to brandish the power of the Elden Ring and become an Elden Lord in the Lands Between.'
 'A rogue-lite hack and slash dungeon crawler in which Zagreus, son of Hades the Greek god of the dead, attempts to escape his home and his oppressive father by fighting the souls of the dead through the various layers of the ever-shifting underworld, while getting to know and forging relationships with its inhabitants.'
 'The Legend of Zelda: Breath of the Wild is the first 3D open-world game in the Zelda series. Link can travel anywhere and be equipped with weapons and armor found throughout the world to grant him various bonuses. Unlike many games in the series, Breath of the Wild does not impose a specific order in which quests or dungeons must be completed. While the game still has environmental obstacles such as weather effects, inhospitable lands, or powerful enemies, many of them can be overcome using the right method. A lot of critics ranked Breath of the Wild as one of the best video games of all time.'
 'A small child falls into the Underground, where monsters have long been banished by humans and are hunting every human that they find. The player controls the child as they try to make it back to the Surface through hostile environments, all the while engaging with a turn-based combat system with puzzle-solving and bullet hell elements, as well as other unconventional game mechanics.'
 "A 2D metroidvania with an emphasis on close combat and exploration in which the player enters the once-prosperous now-bleak insect kingdom of Hallownest, travels through its various districts, meets friendly inhabitants, fights hostile ones and uncovers the kingdom's history while improving their combat abilities and movement arsenal by fighting bosses and accessing out-of-the-way areas."
 "Minecraft focuses on allowing the player to explore, interact with, and modify a dynamically-generated map made of one-cubic-meter-sized blocks. In addition to blocks, the environment features plants, mobs, and items. Some activities in the game include mining for ore, fighting hostile mobs, and crafting new blocks and tools by gathering various resources found in the game. The game's open-ended model allows players to create structures, creations, and artwork on various multiplayer servers or their single-player maps. Other features include redstone circuits for logic computations and remote actions, minecarts and tracks, and a mysterious underworld called the Nether. A designated but completely optional goal of the game is to travel to a dimension called the End, and defeat the ender dragon."
 'A turn-based surreal horror RPG in which a child traverses various mundane, quirky, humourous, mysterious and horrific lands with his friends in search of a missing person while confronting his past and his fears. Explore a strange world full of colorful friends and foes. When the time comes, the path you‚Äôve chosen will determine your fate... and perhaps the fate of others as well.'
 'Join intergalactic bounty hunter Samus Aran in her first new 2D Metroid story in 19 years. Samus‚Äô story continues after the events of the Metroid Fusion game when she descends upon planet ZDR to investigate a mysterious transmission sent to the Galactic Federation. The remote planet has become overrun by vicious alien lifeforms and chilling mechanical menaces. Samus is more agile and capable than ever, but can she overcome the inhuman threat stalking the depths of ZDR?'
 'Join your crew-mates in a multiplayer game of teamwork and betrayal! Play with 4-15 players online or via local WiFi as you attempt to prepare your spaceship for departure, but beware as one or more random players among the Crew are Impostors bent on killing everyone!'
 'NieR: Automata tells the story of androids 2B, 9S and A2 and their battle to reclaim the machine-driven dystopia overrun by powerful machines.'] ...

Column: Reviews
Unique count: 1117
Sample unique values: ['["The first playthrough of elden ring is one of the best eperiences gaming can offer you but after youve explored everything in the open world and you\'ve experienced all of the surprises you lose motivation to go exploring on repeat playthroughs which takes a lot away from the replayability which is a very important thing for from games imo.", \'a replay solidified my love for elden ring. so easily my favorite game of all time. actually beating malenia this time was also an amazing feeling. i just love being in this world man its the greatest of all time\', \'The game is absolutely beautiful, with so much to do. The replayability is crazy. And it never gets old with it too.\', \'Took everything great about the Soulsborne games and make it 100% better.\', \'I play with my overlevelled friend every time and we still fail sometimes (he‚Äôs on NG6), insanely difficult game lol\\n                     \\n                     gorgeous graphics, animations, everything about this game is so beautiful. deserves all the hype it gets. If you have a powerful enough pc I definitely recommend you play it on there, if you use keyboard, you‚Äôll want to change the keybinds because the defaults are ass.\', "Tied as my favorite souls game with Bloodborne, truly one I\'ll keep coming back too."]'
 '[\'convinced this is a roguelike for people who do not like the genre. The art is technically good but the aesthetic does very little for me, too clean or something. idk wish I liked it but I do not\', \'incredible art, a banger soundtrack a surprisingly charming storyline and a big red dog. hades has very smooth gameplay but after playing it for a while it just feels like youre doing the same 3 hit combo ove and over again, which dont get me wrong that combo feels great to do but once i becomes muscle memory you kinda go into autopilot. also i think the boons are cool but i would like to see them change the flow of combat a bit more, there are some cool ones like the grape boon that can change the way you play but most of them are just upgrades that dont really change the gameplay or strategy. other then those 2 small gripes the game is fantastic.\', "People tell me this game gets really really good at some point but i\'ve beaten entire games in the amount of time I gave this game.", \'N√£o sou muito de jogo indie, admito que joguei poucos, mas devo dizer que Hades foi um dos melhores jogos que joguei na vida, facilmente no top 15. Toda sua arte, dublagem, gameplay, carisma dos personagens, √© tudo incrivel\', "I can\'t shake the feeling that I am thoroughly bored playing Hades. I\'ve picked up Hades three times over the last few years, and three times I\'ve found myself putting down the controller after a handful of hours, especially after reaching the third stage, and I couldn\'t figure out why it wasn\'t working for me. After giving it a few good goes, I\'ve finally managed to pin down what it is that just doesn\'t click for me about Hades.", \'One of my favorites in the rogue-likes/lites, only being beat by binding of Isaac. I love the characters (Thanatos my beloved) and the writing and the art style and RRRAAAAHHH THIS GAME IS AWESOME\']'
 '[\'This game is the game (that is not CS:GO) that I have played the most ever. I have played this game for 400 hours.\', "A really good switch game, however didn\'t really grip me like mario odyssey", "i was very disappointed by the final boss fight, but the rest of the game is so good it makes me not want to even do the final boss fight anyway just so i can play more of the game. i do wish that there were more unique mechanics in combat besides just parrying and link\'s flurry rush, but the world is really pretty and actually incentivizes exploring it. characters are great, story is great and makes you work for it, and there\'s tons of hidden secrets and details.", \'em 105 horas de jogo n√£o houve um segundo que eu n√£o tava me divertindo e eu acho que isso diz muito\', \'Sencillamente el mejor juego que he tenido el placer de disfrutar, esper√© 5 a√±os para poder jugarlo y puedo decir que vali√≥ cada segundo la espera. No estoy ni cerca de conseguir el 100%, tengo mas de 100 horas y a√∫n estoy descubriendo cosas nuevas. Va m√°s all√° de un simple juego, es una experiencia que lamentablemente solo se puede vivir una vez en la vida y la recomiendo totalmente.\', \'em meio a tanto jogo de mundo aberto ruim saindo por a√≠ na √∫ltima d√©cada, acho que da pra entender porque breath of the wild chocou tanto as pessoas no ano em que ele lan√ßou. E realmente eu acho que √© o melhor mundo aberto que eu j√° joguei at√© hoje, explorar cada pedacinho desse mundo √© T√ÉO GOSTOSO, parece que tudo aqui t√° no mapa tem um prop√≥sito para estar l√°, diferente dos mapas vazios da ubisoft por exemplo. Acho que o unico defeito √© esses sistema chatinho de durabilidade das armas, ficar trocando de arma o tempo todo √© t√£o chato, espero que no pr√≥ximo n√£o tenha.\']'
 "['soundtrack is tied for #1 with nier automata.  a super charming story and characters which have become iconic. and all that made by 1 man. thats it, thats the review i have no criticisms', 'Just play this game, Dont look at any of these reviews, just pick the game up and know nothing else about it if you are one of the lucky ones that didnt get spoiled on the game. It will fucking break you in the best of ways', 'N√£o h√° palavras que deem para descrever a experi√™ncia que foi esse jogo.', 'CLASSSSSSSSSSSSSSSICCCCCCCCCCCCCCCCCCC', 'whooaa ohh ohhhh ohoohhohh ohhwooaah story of undertale', 'A nice unique take on the RPG indie game format by incorporating really good ideas, funny interactions, an incredibly subtle story, and wonderful music. Definitely a must play if you have not already.']"
 '["this games worldbuilding is incredible, with its amazing soundtrack and gorgeous art direction it really makes you feel like you\'re spiderman.  one of the best value in gaming tbh, this game is packed full of content and none of it feels like filler. even the boss rush manages to feel fresh by introducing some surprise bosses/boss variants as rewards for beating tough pantheons. cant wait to play silksong when i turn 80!", "This isn\'t just a game, this is an entire experience.\\n                     \\n                     I was not too much into Metroidvania games and then I tried this without any expectation, it became one of my favorite games of all time and brought me into the genre, now I\'m seeking for similar adventures and I can\'t wait for Silksong.\\n                     \\n                     I\'ve done all 112% in my first run and now I\'m beating the game again, then I\'ll aim to master the game on Steam, and this is the first time a game instigated me to do that. Masterpiece.", \'Faz uns 2/3 anos que eu zerei esse jogo, mesmo assim nunca saiu da minha mem√≥ria.\\n                     \\n                     Vou rejogar para fazer uma an√°lise mais aprofundada\', \'i like how you can bounce on spikes with your nail. a good casual game that offers additional challenges for people that are socially challenged\', \'A rivetting action/adventure game with a stunning design. Extremely rewarding but also gruesomly difficult at times.\', \'I\\\'d give this game a 4 for each individual aspect (platforming, exploration, combat) but the integration and packaging of the content are so good, it\\\'s slightly better that the sum of its parts. Most of the combat and traversal abilities feel useful, and many evoke that Super Metroid-y, gleeful feeling that you\\\'ll finally be able to access that new area, grab that item, or beat that boss. The end-game challenges, reminiscent of Wiley\\\'s fortress and boss rushes after Megaman has fully self-actualized, were the highlight. Boss rushes in particular were fun to dissect and master. I found uses for some charms I had written off as "not my style" to counter some of the unconventional boss mechanics. My only gripes:\\n                     \\n                     -The repeated backtracking. I get it - a fast-travel mechanic that\\\'s too liberal can erase the environment, but this was excessive.\\n                     \\n                     -Some of the charms seemed worthless, even after strategizing for boss, combat, and platforming rushes.\\n                     \\n                     -In the name of decency and civility, make geo-sucking ability automatic.\']'
 "['Minecraft is what you make of it. Unfortunately theres no reason to do anything.', 'muito bom, vc pode construir, usar sua imagina√ß√£o, mods, sobreviver, jogar multiplayer e at√© zerar o jogo! minecraft √© um jogo incr√≠vel e fica melhor a cada atualiza√ß√£o, (nunca zerei mesmo depois de muitos anos)', 'Jogo incr√≠vel, muito divertido, e com amigos fica ainda mais legal.', 'baby gammeeee üò≠\\n                     \\n                     had the most fun playing when it was first released sory\\n                     \\n                     still fun for a couple of hours when playing with people tho! üòÅ', '–ú–∞–π–Ω–∫—Ä–∞—Ñ—Ç —Å—É–∫–∞ —ç—Ç–æ –º–æ—è –∂–∏–∑–Ω—å –±–ª—è–¥—å! –ú–ê–ô–ù–ö–†–ê–ê–ê–ê–§–¢!!! –û–π, –º–∞–º–∞ –ø—Ä–∏—à–ª–∞.', 'E um game maneiro mais jogar ele sem amigos ou sem mods √© meio chato']"
 '["The best game I\'ve played in my life", "omori is a game held up by it\'s heartbreaking, emotional story and lifelike characters, and ultimately let down by lackluster battle mechanics and a gimmicky otherworld.", \'I FUCKING LOVE AIR CONDITIONING.\', \'didnt close my eyes\', \'Still not finished but loving the game\', \'One of my favorite games of all time, it definitely has flaws with it\\\'s pacing (god I fucking hate sweetheart\\\'s castle section) but the twist and just overall the characters are so likeable and well written like Aubrey, Kel and Hero...I don\\\'t really care too much about Sunny but he\\\'s alright I guess, gets the job done. I feel basil could definitely use some more screentime, the guy rarely gets any in the real world section of the game. The writing is pretty good too though I\\\'m not a fan of the "le quirky random indie game writing xdddd" like this game has but there were times where it did make me chuckle.\']'
 '[\'Have only been a Metroid fan for couple of years but I think this was worth the 19 year wait\', \'The most unexpected Nintendo release of 2021, a pretty good offering by Mercury Steam, while some ideas are questionable like these invulnerable bosses that need to be avoided, they do add up to the tension. The final boss is unforgiving and punishes hard.\', "The best 2D metroid has been. The art design in this one pops out so much, you\'ll remember distinct areas for later. The abilities are so fast in this one, and some puzzles require some strong thinking even knowing where the item locations are.", \'there was nothing dreadful about this game... nothing!\', \'context sensitive grappling hooks are a hatecrime\', \'This is by far the best 2D Metroid. Not only is the game loop refined but the cinematics and story really surprised me. Samus exudes badass every moment shes on screen.  A must play. Also the bosses are god damn brutal compared to previous Metroids.\']'
 '["it\'s a solid party game. i\'m bad at lying though and it makes me feel bad; not a complaint with the game, it\'s a complaint with myself that makes it harder for me personally to enjoy", \'‡∂û amogus\', \'lie to your friends simulator\', \'Amogus\', \'I vote we just shoot Wawa into space and see what happens.\', \'ya, i beat among us, what about it\']'
 "['Holy shit', 'im carrying the weight of the wooooooooooooooooooorld', 'no me llamaba la atenci√≥n y lo compr√© por el precio y un cacho de curiosidad... me volvi√≥ totalmente loco todo, la historia, el arte, el mundo  y la BANDA SONORA SEXO', 'üòãüòçü•∞ü•µ', 'NieR: Automata is an unforgettable game. Androids vs. Machines, all while trying to save humanity, and uncover the cold truth of this post-apocalyptic world. 2B and 9S share a common goal, but have differing views through the story. The combat is more fleshed out than its predecessor due to chips and pod mechanics. Characters change and face reality after meeting characters and concepts never seen before.', 'This is my favorite game ever and the only game I cared enough about to get the platinum trophy in. I might be biased here but the game has a lot of things I loved going in like the post apocalyptic setting. The game isn‚Äôt perfect and while things like the 9s hacking and route b pushed a lot of people away I still thoroughly enjoyed it. Getting ending s and the final shut em up section in the credits ending with me giving up my save file to protect a fellow player is one of the most beautiful moments I‚Äôve seen in fiction as a whole']"] ...

Column: Plays
Unique count: 258
Sample unique values: ['17K' '21K' '30K' '28K' '33K' '7.2K' '9.2K' '25K' '18K' '12K'] ...

Column: Playing
Unique count: 396
Sample unique values: ['3.8K' '3.2K' '2.5K' '679' '2.4K' '1.8K' '1.1K' '759' '470' '2.3K'] ...

Column: Backlogs
Unique count: 544
Sample unique values: ['4.6K' '6.3K' '5K' '4.9K' '8.3K' '1.1K' '4.5K' '3.4K' '776' '6.2K'] ...

Column: Wishlist
Unique count: 573
Sample unique values: ['4.8K' '3.6K' '2.6K' '1.8K' '2.3K' '230' '3.8K' '3.3K' '126' '3K'] ...

In [20]:
unique_col(vgsales)

Column: Name
Unique count: 11493
Sample unique values: ['Wii Sports' 'Super Mario Bros.' 'Mario Kart Wii' 'Wii Sports Resort'
 'Pokemon Red/Pokemon Blue' 'Tetris' 'New Super Mario Bros.' 'Wii Play'
 'New Super Mario Bros. Wii' 'Duck Hunt'] ...

Column: Platform
Unique count: 31
Sample unique values: ['Wii' 'NES' 'GB' 'DS' 'X360' 'PS3' 'PS2' 'SNES' 'GBA' '3DS'] ...

Column: Year
Unique count: 40
Sample unique values: [2006. 1985. 2008. 2009. 1996. 1989. 1984. 2005. 1999. 2007.] ...

Column: Genre
Unique count: 12
Sample unique values: ['Sports' 'Platform' 'Racing' 'Role-Playing' 'Puzzle' 'Misc' 'Shooter'
 'Simulation' 'Action' 'Fighting'] ...

Column: Publisher
Unique count: 579
Sample unique values: ['Nintendo' 'Microsoft Game Studios' 'Take-Two Interactive'
 'Sony Computer Entertainment' 'Activision' 'Ubisoft' 'Bethesda Softworks'
 'Electronic Arts' 'Sega' 'SquareSoft'] ...

Column: NA_Sales
Unique count: 409
Sample unique values: [41.49 29.08 15.85 15.75 11.27 23.2  11.38 14.03 14.59 26.93] ...

Column: EU_Sales
Unique count: 305
Sample unique values: [29.02  3.58 12.88 11.01  8.89  2.26  9.23  9.2   7.06  0.63] ...

Column: JP_Sales
Unique count: 244
Sample unique values: [ 3.77  6.81  3.79  3.28 10.22  4.22  6.5   2.93  4.7   0.28] ...

Column: Other_Sales
Unique count: 157
Sample unique values: [8.46 0.77 3.31 2.96 1.   0.58 2.9  2.85 2.26 0.47] ...

Column: Global_Sales
Unique count: 623
Sample unique values: [82.74 40.24 35.82 33.   31.37 30.26 30.01 29.02 28.62 28.31] ...

# *Converting release date column in games to date*

In [21]:
games['Release Date'].unique()

array(['Feb 25, 2022', 'Dec 10, 2019', 'Mar 03, 2017', 'Sep 15, 2015',
       'Feb 24, 2017', 'Nov 18, 2011', 'Dec 25, 2020', 'Oct 07, 2021',
       'Jun 15, 2018', 'Feb 23, 2017', 'Oct 31, 2019', 'Jul 19, 2022',
       'Apr 20, 2018', 'Apr 18, 2011', 'Mar 24, 2015', 'Jan 25, 2018',
       'Mar 12, 2015', 'Oct 26, 2018', 'Oct 10, 2007', 'Oct 27, 2017',
       'Jan 28, 2022', 'Jan 25, 2023', 'Feb 19, 2013', 'Sep 17, 2013',
       'Dec 09, 2020', 'Nov 09, 2022', 'Jul 29, 2022', 'Mar 25, 2022',
       'May 01, 2020', 'Sep 07, 2018', 'Mar 24, 2016', 'Apr 22, 2021',
       'Jun 23, 1996', 'Dec 07, 2018', 'Sep 29, 2017', 'Mar 22, 2019',
       'Jan 31, 1997', 'Jun 15, 2012', 'Sep 28, 2020', 'Oct 27, 2022',
       'May 06, 2021', 'Nov 01, 2007', 'Oct 19, 2010', 'May 28, 2019',
       'Jan 25, 2019', 'May 12, 2016', 'Nov 12, 2021', 'Oct 29, 2009',
       'Feb 26, 2016', 'Jun 19, 2020', 'Sep 24, 2001', 'May 19, 2015',
       'Sep 15, 2016', 'Mar 19, 2020', 'Nov 10, 2011', 'Jun 16, 2022',
       'Mar 08, 2019', 'Oct 04, 2022', 'Jan 11, 2005', 'Apr 10, 2020',
       'Nov 08, 2022', 'Oct 19, 2021', 'Mar 16, 2022', 'Sep 22, 2011',
       'Nov 21, 1998', 'Sep 17, 2021', 'Mar 11, 1995', 'Nov 13, 2001',
       'Nov 21, 1990', 'Nov 08, 2019', 'Nov 12, 2020', 'May 23, 2018',
       'Aug 27, 1994', 'Mar 20, 1997', 'Mar 19, 1994', 'Sep 13, 1985',
       'Apr 27, 2000', 'Nov 15, 2019', 'Jun 14, 2013', 'May 16, 2011',
       'Jan 24, 2017', 'Sep 01, 2015', 'May 24, 2016', 'Nov 16, 2004',
       'Jul 25, 2019', 'Oct 26, 2004', 'Nov 28, 2019', 'Apr 19, 2007',
       'Aug 23, 2001', 'Apr 28, 2017', 'Jan 20, 2023', 'Nov 18, 2022',
       'Oct 23, 2012', 'Jan 26, 2023', 'Aug 24, 2021', 'Feb 08, 2023',
       'Nov 15, 2021', 'Aug 25, 2009', 'Jul 19, 2002', 'Apr 20, 2006',
       'May 29, 2020', 'Nov 19, 1998', 'Oct 26, 2021', 'Nov 25, 2010',
       'Aug 11, 2022', 'Aug 15, 2017', 'Feb 28, 2017', 'Nov 17, 2009',
       'Oct 27, 2009', 'Aug 27, 2019', 'Sep 22, 2017', 'Oct 18, 2011',
       'Jan 21, 2016', 'Sep 15, 2005', 'Oct 09, 2007', 'Dec 01, 2017',
       'Sep 09, 2022', 'Sep 01, 2014', 'Apr 18, 2019', 'Jan 29, 2015',
       'Apr 02, 2015', 'Sep 14, 2021', 'Oct 18, 2005', 'Feb 08, 2022',
       'Oct 23, 1988', 'Oct 09, 2012', 'Nov 17, 2004', 'Mar 13, 2012',
       'Mar 28, 2002', 'Oct 28, 2016', 'Dec 10, 1993', 'Jul 22, 2022',
       'Jul 26, 2014', 'Jun 23, 1991', 'Jul 06, 2015', 'Jun 23, 2015',
       'Oct 28, 2022', 'Oct 15, 2019', 'Jun 11, 2021', 'Nov 19, 2006',
       'Feb 10, 2023', 'Apr 10, 2008', 'Apr 03, 2020', 'Nov 02, 2021',
       'May 18, 2010', 'Sep 10, 2021', 'Oct 31, 2018', 'Jan 27, 2023',
       'Mar 04, 2013', 'May 23, 2010', 'Nov 18, 1994', 'Apr 24, 2017',
       'Mar 26, 2021', 'Sep 16, 2004', 'Jul 26, 2021', 'Oct 14, 2008',
       'May 15, 2006', 'Feb 06, 2018', 'Feb 18, 2022', 'Mar 22, 2005',
       'May 25, 2018', 'Nov 29, 2016', 'Feb 20, 2020', 'Jul 21, 2010',
       'Sep 13, 2008', 'Mar 18, 2022', 'Jun 09, 2005', 'Apr 29, 2008',
       'Feb 09, 2004', 'Jul 19, 2001', 'Jul 26, 2012', 'Jul 07, 2000',
       'Sep 25, 2007', 'Nov 17, 2002', 'Apr 02, 1994', 'Jun 21, 2016',
       'Aug 06, 2018', 'Nov 28, 2012', 'Apr 27, 2022', 'Feb 25, 2016',
       'May 05, 2009', 'Mar 11, 2015', 'May 14, 2019', 'Sep 20, 2019',
       'Nov 13, 2007', 'Dec 13, 2018', 'Nov 09, 2010', 'Sep 18, 2010',
       'Oct 17, 2013', 'Feb 21, 1986', 'Jun 23, 2022', 'Jun 19, 2010',
       'Sep 27, 2019', 'Jul 22, 2004', 'Mar 13, 2007', 'Jan 26, 2010',
       'Nov 09, 2021', 'Mar 18, 2014', 'Aug 27, 2021', 'Jun 29, 1998',
       'Nov 12, 2012', 'Jul 16, 2021', 'Dec 17, 1993', 'Jan 23, 2018',
       'Apr 30, 2021', 'Nov 12, 2009', 'May 05, 2022', 'Aug 09, 2018',
       'Dec 24, 2004', 'May 20, 2014', 'Jun 26, 2000', 'Feb 09, 2010',
       'Aug 25, 2022', 'Apr 05, 2016', 'Dec 27, 2012', 'Jun 26, 2014',
       'Feb 09, 2016', 'Mar 11, 2014', 'Sep 10, 2019', 'Aug 27, 2013',
       'Aug 30, 2022', 'Oct 02, 2012', 'Feb 17, 2005', 'Sep 01, 2022',
       'Oct 20, 2010', 'May 14, 2021', 'May 11, 2020', 'Jun 30, 2017',
       'Nov 01, 1989', 'Jun 02, 2020', 'Nov 21, 2013', 'Nov 01, 2011',
       'Mar 31, 2006', 'Jun 26, 2004', 'Jul 23, 2001', 'Aug 08, 2014',
       'Nov 21, 1995', 'Sep 04, 2013', 'Jan 20, 2021', 'Sep 23, 2021',
       'Nov 21, 2014', 'Mar 23, 1993', 'Feb 18, 2015', 'Sep 15, 2009',
       'Mar 29, 2007', 'Nov 12, 2019', 'Sep 24, 2021', 'Jul 10, 2008',
       'Jun 21, 2021', 'Sep 02, 2014', 'Nov 18, 2014', 'Nov 07, 2017',
       'Mar 13, 2019', 'Aug 29, 2016', 'Jan 21, 1999', 'Nov 21, 2004',
       'Nov 06, 2012', 'Sep 30, 2014', 'Jun 02, 1989', 'Apr 17, 2014',
       'Mar 21, 2014', 'Jul 15, 2003', 'Sep 22, 2008', 'May 02, 2001',
       'Mar 18, 2004', 'Nov 15, 2005', 'Oct 30, 2012', 'Sep 15, 2017',
       'Jun 23, 2012', 'Jan 21, 2022', 'Oct 20, 2009', 'Sep 25, 2018',
       'Dec 11, 1997', 'Sep 14, 2018', 'Sep 14, 2009', 'Oct 27, 2020',
       'Nov 15, 2016', 'Mar 06, 2012', 'Apr 01, 2014', 'Oct 27, 2016',
       'Mar 26, 2018', 'Nov 08, 2011', 'Nov 01, 2020', 'Sep 16, 2007',
       'Nov 24, 2015', 'Jun 24, 2022', 'Sep 13, 2014', 'Sep 29, 2011',
       'Mar 09, 1996', 'Aug 30, 2019', 'Jan 15, 2013', 'Nov 03, 2009',
       'Feb 10, 2000', 'Sep 08, 2010', 'Jun 29, 2022', 'Jun 28, 2019',
       'Apr 25, 2003', 'Sep 30, 2013', 'Nov 11, 2010', 'Nov 18, 2016',
       'Jan 14, 1987', 'Oct 29, 2013', 'Oct 04, 2007', 'Sep 09, 2021',
       'Oct 08, 2013', 'Jul 28, 2022', 'Aug 18, 2020', 'Feb 10, 2021',
       'Oct 12, 2017', 'Jun 14, 2018', 'Sep 19, 2019', 'Aug 26, 2014',
       'Sep 29, 2021', 'Dec 17, 2021', 'Apr 19, 2005', 'Nov 09, 2015',
       'May 10, 2016', 'Nov 21, 1991', 'Feb 23, 1999', 'Jan 31, 2008',
       'Sep 18, 2012', 'Dec 06, 2007', 'Jul 17, 2020', 'Oct 18, 1994',
       'Jan 21, 1998', 'Oct 30, 2009', 'Sep 21, 2015', 'Nov 04, 2014',
       'Dec 06, 2018', 'Dec 02, 2011', 'Aug 27, 2008', 'Mar 28, 2017',
       'Oct 28, 2021', 'Oct 17, 2006', 'Dec 14, 1996', 'Feb 24, 2023',
       'Mar 24, 2022', 'Mar 22, 2002', 'Oct 05, 2018', 'Oct 14, 2014',
       'Sep 15, 2022', 'Nov 11, 2014', 'Dec 14, 2000', 'Aug 22, 2017',
       'Sep 22, 1999', 'Mar 20, 2018', 'Oct 17, 2005', 'Sep 24, 2020',
       'Apr 22, 2010', 'Dec 17, 2013', 'Jan 24, 2023', 'Oct 14, 2003',
       'Nov 13, 1997', 'Dec 10, 2018', 'May 01, 2002', 'Aug 16, 2022',
       'Jun 22, 2023', 'Jan 18, 2022', 'Apr 16, 2013', 'May 22, 1980',
       'Dec 26, 2013', 'Apr 13, 2015', 'Jul 15, 2004', 'Sep 16, 2008',
       'Dec 09, 2019', 'Aug 20, 2021', 'Nov 21, 2010', 'May 12, 1999',
       'Sep 19, 2022', 'Aug 23, 2011', 'Nov 13, 2018', 'Jun 10, 2021',
       'Nov 21, 2000', 'Sep 28, 2021', 'Jul 28, 2012', 'Oct 26, 2017',
       'Sep 28, 2006', 'Feb 27, 2018', 'Oct 18, 2022', 'Feb 21, 2019',
       'Nov 10, 2014', 'Apr 22, 2019', 'Dec 07, 2022', 'Feb 03, 2022',
       'Feb 21, 2012', 'Aug 18, 2016', 'Oct 16, 1997', 'Nov 06, 2003',
       'Oct 23, 2015', 'Oct 28, 2014', 'Apr 29, 2010', 'Sep 26, 2019',
       'Jun 10, 2022', 'Feb 27, 2023', 'Sep 04, 2020', 'Nov 29, 2022',
       'Jun 28, 2016', 'Aug 23, 2016', 'Oct 28, 2007', 'Oct 20, 2016',
       'Mar 13, 2020', 'Nov 07, 2006', 'Jun 20, 1997', 'releases on TBD',
       'Mar 22, 1997', 'Dec 06, 2017', 'Jun 13, 2020', 'Feb 28, 2002',
       'Mar 03, 2021', 'Apr 21, 2016', 'Oct 17, 2017', 'Jul 14, 2015',
       'Nov 21, 2002', 'Oct 07, 2004', 'Aug 10, 2021', 'Oct 07, 2015',
       'Jan 19, 2023', 'Jul 25, 2017', 'May 02, 2017', 'Feb 05, 2013',
       'Mar 22, 2012', 'Mar 17, 2023', 'Jul 10, 1997', 'Nov 28, 2013',
       'Feb 14, 2023', 'Mar 20, 2013', 'Dec 13, 2017', 'Sep 28, 2022',
       'Oct 21, 2008', 'Feb 23, 2010', 'Jun 19, 2012', 'Nov 10, 2022',
       'Dec 20, 2001', 'Jan 24, 1996', 'Nov 30, 2015', 'Dec 17, 1998',
       'Oct 27, 2008', 'Jun 14, 2015', 'Mar 21, 2000', 'Oct 21, 2022',
       'Aug 29, 2003', 'Aug 14, 2012', 'Aug 29, 2019', 'Dec 26, 2003',
       'Sep 04, 2019', 'Jun 22, 2022', 'Mar 21, 2001', 'Apr 29, 2004',
       'Mar 26, 2010', 'Mar 05, 2001', 'Feb 22, 2007', 'May 11, 2010',
       'Aug 06, 2008', 'Mar 16, 2010', 'Feb 15, 2023', 'Jan 07, 2013',
       'Mar 04, 2016', 'Jul 06, 2005', 'Nov 26, 1998', 'Mar 21, 1995',
       'Nov 04, 2022', 'Sep 14, 2017', 'Sep 26, 2018', 'Nov 20, 2000',
       'Feb 27, 2001', 'Apr 09, 2018', 'Dec 31, 2023', 'Mar 17, 1994',
       'Sep 21, 2016', 'Mar 23, 2010', 'Aug 01, 2023', 'Dec 06, 1992',
       'Feb 22, 2002', 'Aug 03, 2016', 'Feb 10, 2016', 'May 14, 1996',
       'Mar 31, 2025', 'Nov 10, 1999', 'Jan 31, 2022', 'Jun 09, 2009',
       'Nov 21, 1999', 'Feb 02, 2021', 'Aug 28, 2017', 'Feb 23, 2023',
       'Feb 13, 2018', 'Sep 02, 1994', 'Oct 10, 2014', 'Feb 28, 2014',
       'Dec 20, 2019', 'Mar 30, 2017', 'Dec 02, 2022', 'Jun 07, 2011',
       'Oct 13, 2009', 'Dec 15, 2022', 'Nov 22, 2022', 'Jan 06, 2023',
       'May 26, 2006', 'Nov 27, 2008', 'May 04, 2018', 'Sep 01, 1999',
       'May 29, 2018', 'Jul 13, 2013', 'Jul 23, 2015', 'Feb 26, 2009',
       'Oct 06, 2022', 'Jun 09, 2016', 'Feb 20, 2007', 'Sep 14, 2012',
       'Dec 17, 1999', 'Jul 17, 2013', 'Dec 14, 2001', 'Jul 09, 2015',
       'Dec 15, 2011', 'Apr 28, 2015', 'Nov 27, 2003', 'Nov 23, 2004',
       'Sep 25, 2014', 'Dec 12, 2017', 'Apr 01, 2002', 'Oct 26, 2010',
       'Aug 04, 2020', 'Mar 25, 2021', 'Aug 21, 2007', 'Sep 03, 1998',
       'Jan 16, 2020', 'Feb 26, 2013', 'Nov 11, 2008', 'Sep 20, 2014',
       'Feb 20, 2003', 'Jul 20, 2021', 'Jan 24, 2006', 'Dec 13, 2022',
       'Nov 21, 1992', 'Jun 12, 2008', 'Feb 21, 2023', 'Sep 20, 2017',
       'Mar 05, 2009', 'Jul 26, 2007', 'Oct 05, 2017', 'Oct 14, 2022',
       'Apr 19, 2012', 'Jun 30, 2022', 'Mar 10, 2020', 'Nov 20, 2007',
       'Oct 18, 2018', 'Oct 28, 2008', 'Nov 16, 2007', 'Dec 10, 2009',
       'Nov 03, 2011', 'May 23, 2003', 'Nov 10, 2009', 'Apr 24, 2012',
       'Nov 14, 2005', 'Feb 04, 2019', 'Jan 25, 2003', 'Jun 16, 2011',
       'Aug 19, 2021', 'Feb 05, 2009', 'Nov 01, 2009', 'Aug 30, 2013',
       'Jan 26, 2018', 'Aug 26, 2020', 'Nov 22, 2013', 'Dec 07, 2021',
       'Nov 04, 2004', 'Jul 06, 2016', 'Feb 21, 2017', 'May 23, 2013',
       'Dec 22, 2005', 'May 06, 2003', 'Sep 14, 2010', 'Oct 27, 2002',
       'Jul 30, 2019', 'May 12, 2023', 'Sep 26, 1986', 'Dec 16, 2021',
       'Dec 15, 2014', 'Sep 09, 1996', 'Sep 26, 2013', 'Oct 25, 2019',
       'Feb 12, 2015', 'Oct 11, 2013', 'Jan 25, 2011', 'Oct 09, 1988',
       'Aug 25, 2015', 'Dec 08, 2022', 'Sep 14, 2016', 'Nov 20, 2008',
       'Jun 20, 2019', 'Aug 05, 1995', 'Aug 28, 2018', 'Jan 17, 2019',
       'Oct 02, 2020', 'Oct 22, 2001', 'Jun 14, 2016', 'Aug 02, 2016',
       'Oct 16, 2013', 'Jul 21, 2017', 'Sep 12, 2009', 'Sep 20, 2021',
       'Feb 11, 1999', 'Mar 20, 2006', 'Oct 07, 2016', 'May 14, 2010',
       'Mar 23, 2018', 'Apr 18, 2008', 'Sep 13, 2019', 'Oct 28, 2020',
       'Jan 26, 2016', 'Nov 08, 2012', 'Mar 03, 2023', 'Jun 23, 2001',
       'Sep 06, 2017', 'Apr 27, 1992', 'May 29, 2014', 'Jun 10, 2010',
       'Jul 28, 2021', 'Nov 15, 2011', 'Nov 06, 2015', 'Feb 27, 1996',
       'Apr 23, 2013', 'Apr 30, 2014', 'Mar 06, 2020', 'Aug 30, 2018',
       'May 23, 2019', 'Nov 11, 2022', 'Mar 31, 2016', 'Nov 17, 2008',
       'Mar 13, 2018', 'Jan 19, 2016', 'Sep 01, 2006', 'Dec 06, 2016',
       'Dec 19, 2013', 'Jun 01, 2006', 'Nov 14, 2011', 'Dec 17, 1987',
       'May 19, 2021', 'Dec 20, 2004', 'Jul 02, 2019', 'Apr 26, 2019',
       'Dec 01, 2015', 'Sep 23, 1993', 'Nov 07, 2003', 'Jul 08, 2022',
       'May 15, 2012', 'Feb 14, 2019', 'Apr 28, 2016', 'Oct 21, 2016',
       'Jun 29, 2000', 'Nov 17, 2017', 'Apr 09, 2007', 'Aug 03, 2017',
       'Oct 31, 2005', 'Oct 31, 1991', 'Aug 07, 2013', 'Aug 23, 1997',
       'Mar 21, 2003', 'Jan 18, 2017', 'Nov 15, 2004', 'Apr 30, 2018',
       'Sep 20, 2018', 'Aug 19, 2013', 'Oct 29, 1998', 'Nov 18, 1999',
       'Apr 20, 2005', 'Dec 26, 2002', 'Feb 15, 2007', 'Jul 21, 2016',
       'Jan 22, 2007', 'Apr 13, 2003', 'Apr 13, 2012', 'Apr 30, 2020',
       'Oct 22, 2009', 'Oct 24, 2011', 'Mar 04, 2008', 'May 28, 2015',
       'Oct 05, 2021', 'Feb 15, 2016', 'Nov 15, 2022', 'Feb 04, 2008',
       'Apr 28, 2023', 'Jun 14, 2011', 'Sep 18, 2020', 'Mar 20, 2007',
       'Aug 12, 2013', 'Oct 20, 2022', 'Oct 12, 2021', 'Mar 23, 2020',
       'Apr 19, 2011', 'Mar 22, 1996', 'Nov 05, 2013', 'Dec 03, 1998',
       'Dec 14, 2022', 'Jan 14, 2016', 'Aug 07, 2018', 'Apr 08, 2021',
       'Sep 23, 2002', 'Feb 12, 1999', 'Apr 07, 2022', 'Sep 04, 2008',
       'Dec 06, 2022', 'Mar 22, 2001', 'Oct 15, 1996', 'Dec 12, 1999',
       'May 01, 2013', 'Apr 03, 2013', 'Oct 01, 2015', 'Jun 02, 2023',
       'Feb 04, 2016', 'Sep 28, 1990', 'Nov 17, 2011', 'Dec 04, 2022',
       'Apr 11, 2022', 'Aug 10, 2002', 'Aug 31, 2017', 'Aug 17, 2017',
       'Nov 11, 2003', 'Aug 26, 1991', 'Dec 29, 1999', 'Nov 08, 2013',
       'Sep 30, 1999', 'Jul 23, 2020', 'Nov 07, 2008', 'Jul 25, 2013',
       'Feb 16, 2023', 'Mar 12, 2013', 'Jul 06, 2006', 'Nov 27, 1997',
       'Jun 06, 2002', 'Oct 22, 2014', 'Jun 04, 2010', 'Sep 20, 2012',
       'Jun 25, 2015', 'Jul 19, 1991', 'Nov 10, 2020', 'Sep 01, 1990',
       'Sep 05, 2022', 'Nov 03, 2014', 'Jul 21, 2001', 'Nov 18, 2021',
       'Dec 20, 2017', 'Dec 31, 2024', 'May 14, 1989', 'Jan 19, 2006',
       'Jun 12, 2012', 'Jan 29, 2004', 'Feb 12, 2021', 'Sep 28, 2018',
       'Nov 26, 2020', 'Feb 01, 1991', 'Jan 26, 2012', 'Oct 30, 1992',
       'Oct 25, 1996', 'Sep 29, 2022', 'Mar 02, 2010', 'Dec 20, 2016',
       'Sep 20, 2005', 'Sep 21, 2010', 'Aug 07, 2008', 'Apr 18, 2013',
       'Oct 14, 2015', 'Oct 31, 2003', 'Jun 25, 2010', 'Jul 17, 2008',
       'Dec 11, 2018', 'Feb 13, 2017', 'Oct 18, 2013', 'Nov 21, 2019',
       'Nov 19, 2020', 'Sep 27, 2022', 'Oct 12, 2015', 'Aug 20, 2019',
       'Oct 27, 2015', 'Sep 21, 2005', 'Dec 12, 2022', 'Aug 06, 1993',
       'Dec 04, 2008', 'Sep 21, 2021', 'Dec 18, 1997', 'Oct 29, 2021',
       'Feb 04, 2010', 'Apr 21, 2005', 'Apr 30, 1999', 'Apr 25, 2017',
       'Jul 13, 1987', 'Nov 21, 1993', 'Sep 09, 2019', 'Aug 11, 2021',
       'Dec 07, 2006', 'Jul 14, 1998', 'Jun 23, 2005', 'Oct 17, 2018',
       'Feb 26, 2011', 'Nov 30, 2000', 'Jan 29, 2016', 'Sep 06, 2022',
       'Mar 24, 1995', 'Mar 06, 2008', 'Nov 29, 2012', 'Mar 09, 2004',
       'Oct 30, 2007', 'May 02, 2003', 'Mar 06, 2018', 'Oct 26, 2007',
       'Aug 24, 2006', 'Oct 23, 1992', 'Jan 05, 2018', 'Sep 20, 2004',
       'Jun 06, 2023', 'Jul 04, 2005', 'Dec 06, 2000', 'Oct 29, 2003',
       'Oct 26, 2000', 'Aug 02, 2012', 'Jan 30, 2004', 'Jun 05, 2015',
       'May 18, 2016', 'Aug 27, 2020', 'Sep 10, 2001', 'Aug 11, 2002',
       'Mar 31, 2022', 'Nov 17, 2005', 'Jul 27, 2018', 'Feb 05, 2015',
       'Oct 12, 2018', 'Nov 27, 2015', 'Feb 28, 2019', 'Dec 02, 2006',
       'Feb 06, 2014', 'Nov 30, 2004', 'Jan 27, 2020', 'Aug 14, 2020',
       'Jan 14, 2021', 'Oct 11, 2014', 'Apr 20, 2010', 'Nov 10, 2017',
       'Mar 07, 2016', 'Mar 22, 2011', 'May 31, 2007', 'Dec 05, 2015',
       'Aug 31, 2012', 'Nov 16, 2005', 'Nov 20, 2012', 'Mar 01, 2004',
       'Mar 22, 2023', 'Mar 31, 2010', 'Mar 18, 2017', 'Oct 18, 2016',
       'Mar 17, 2016', 'Feb 22, 2011', 'May 17, 2011', 'Mar 23, 2023',
       'Nov 16, 2008', 'Oct 08, 1990', 'Nov 14, 1996', 'Oct 21, 2002',
       'Dec 07, 2000', 'Feb 27, 2007', 'Sep 18, 2015', 'May 05, 2005',
       'Dec 02, 2008', 'Sep 22, 1994', 'Sep 14, 2007', 'Jun 21, 2005',
       'Jan 12, 1998', 'Sep 27, 2018', 'Feb 16, 1995', 'Jun 21, 2019',
       'Nov 29, 2001', 'Jun 26, 2012', 'Sep 07, 2012', 'Jan 30, 2014',
       'Oct 06, 2005', 'Feb 16, 2022', 'Jul 14, 2005', 'Mar 04, 1991',
       'Nov 22, 1999', 'Mar 10, 2009', 'Jul 01, 2003', 'Mar 08, 2010',
       'Sep 20, 1996', 'Mar 01, 2012', 'Sep 14, 2008', 'Dec 21, 2006',
       'Oct 13, 2016', 'Aug 15, 2013', 'Jun 13, 2019', 'Aug 15, 2009',
       'Nov 26, 2007', 'Apr 15, 1995', 'Sep 13, 2007', 'Oct 03, 2002',
       'Jun 16, 1986', 'Dec 07, 2004', 'Jul 15, 2010', 'Dec 15, 1995',
       'Feb 16, 2012', 'Jan 15, 2009', 'Dec 17, 2015', 'Feb 15, 2008',
       'Sep 30, 2022', 'Oct 01, 1990', 'Nov 11, 2006', 'Nov 19, 2001',
       'Jul 29, 2010', 'Oct 23, 2013', 'Oct 16, 2009', 'Apr 09, 2013',
       'Jan 22, 2015', 'Feb 24, 2006', 'Jun 19, 2008', 'Jan 29, 1999',
       'Jul 11, 1993', 'Jul 01, 2001', 'Aug 16, 1999', 'Jul 17, 2003',
       'Jul 29, 2004', 'Jul 20, 1990', 'Oct 11, 2018', 'Dec 19, 2001',
       'May 25, 2017', 'Dec 09, 1997', 'Jun 02, 1993', 'May 24, 2004',
       'Jun 03, 2013', 'May 28, 2010', 'Oct 08, 2019', 'Feb 07, 2014',
       'Nov 16, 2010', 'Aug 16, 2015', 'Feb 28, 2023', 'Aug 01, 1988',
       'Jan 28, 2014', 'Aug 23, 2019', 'Jan 20, 2015', 'Feb 13, 2007',
       'Jul 27, 2006', 'Oct 28, 2004', 'Jul 16, 2015', 'May 30, 2013',
       'Feb 03, 1982', 'Nov 05, 2005', 'Apr 30, 1995', 'May 31, 1999',
       'Sep 26, 2017', 'Dec 31, 2005', 'Oct 16, 2012', 'Sep 24, 2013',
       'Aug 01, 2003', 'Sep 25, 2012', 'Jul 13, 2012', 'Mar 01, 2016',
       'Dec 29, 2002', 'Jan 08, 2016', 'Mar 27, 2020', 'Jul 12, 2007',
       'Mar 06, 2007', 'Mar 25, 2016', 'Nov 05, 1995', 'Dec 16, 1999',
       'Mar 23, 2004', 'Aug 11, 2011', 'Oct 26, 2005', 'Nov 16, 2021',
       'Apr 25, 2019', 'Aug 24, 2015', 'Jul 23, 1998', 'Feb 07, 2012',
       'Oct 21, 1997', 'Aug 13, 2013', 'Oct 16, 1992', 'Sep 01, 2009',
       'Sep 30, 2008', 'Aug 21, 1997', 'Nov 09, 2007', 'Sep 03, 2019',
       'Mar 21, 2006', 'Sep 23, 2003', 'Sep 14, 2011', 'Dec 14, 2011',
       'Oct 31, 1999', 'Dec 31, 1991', 'Dec 22, 2010', 'May 21, 2019',
       'May 22, 2012', 'Oct 06, 2020', 'Feb 04, 2014'], dtype=object)

In [22]:
games['Release Date'] = pd.to_datetime(games['Release Date'],errors='coerce')

In [23]:
games['Release Date'].isna().sum()

np.int64(3)

In [24]:
# The NA in Date Column is TBD, hence we will remove it.
rows_to_drop_games = games[games['Release Date'].isna()].index

In [25]:
games.drop(rows_to_drop_games,inplace=True)

In [26]:
# Fill NA in Rating with 0 and Team with Unknown
games['Rating'] = games['Rating'].fillna(0)
games['Team'] = games['Team'].fillna('Unknown')

In [27]:
def convert_to_number(value):
    if isinstance(value, str):
        value = value.strip().upper()
        
        if value.endswith("K"):
            return float(value[:-1]) * 1000
        elif value.endswith("M"):
            return float(value[:-1]) * 1000000
        elif value.endswith("B"):
            return float(value[:-1]) * 1000000000
        else:
            try:
                return float(value)  # if it's just a number string
            except ValueError:
                return None  # if not convertible
    return value  # return as is if already numeric

In [28]:
# Converting object type ['Times Listed','Number of Reviews','Plays','Playing','Backlogs','Wishlist'] to float type
games['Times Listed'] = games['Times Listed'].apply(convert_to_number)
games['Number of Reviews'] = games['Number of Reviews'].apply(convert_to_number)
games['Plays'] = games['Plays'].apply(convert_to_number)
games['Playing'] = games['Playing'].apply(convert_to_number)
games['Backlogs'] = games['Backlogs'].apply(convert_to_number)
games['Wishlist'] = games['Wishlist'].apply(convert_to_number)

In [29]:
def safe_literal_eval(x):
    if isinstance(x, str):
        try:
            # Try to convert the string to a list/tuple
            evaluated_list = ast.literal_eval(x)
            
            # Now, check if the result is actually a list/tuple before joining
            if isinstance(evaluated_list, (list, tuple)):
                return ", ".join(evaluated_list)
            else:
                # Handle cases where the string evaluates to a single item (e.g., "'Team A'")
                return str(evaluated_list)
                
        except (ValueError, TypeError, SyntaxError):
            # If parsing fails, just return the original string
            return x
    return x

# Apply the function
games['Team'] = games['Team'].apply(safe_literal_eval)
games['Genres'] = games['Genres'].apply(safe_literal_eval)

In [30]:
# Removing Summary and Reviews column as we dont need them
games.drop(columns = ['Summary','Reviews'],axis=1,inplace=True)

# *Cleaning vgsales data*

In [31]:
vgsales.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [32]:
# Removing duplicates
vgsales = vgsales.drop_duplicates()

In [33]:
vgsales['Year'] = pd.to_numeric(vgsales['Year'],errors='coerce').astype('Int64')

In [34]:
vgsales[vgsales['Year'].notna()]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

games

In [35]:
# Remove Any duplicates if introduced
games = games.drop_duplicates()

# *Output CSV File*

In [36]:
games.to_csv("games_cleaned.csv",index=False)
vgsales.to_csv("vgsales_cleaned.csv",index=False)